[submodule "prefix"]
	path = prefix
	url = https://github.com/acolinisi/gentoo-prefix.git
[submodule "casper-ebuilds"]
	path = ebuilds
	url = https://github.com/acolinisi/casper-ebuilds.git
[submodule "compiler"]
	path = compiler
	url = https://github.com/acolinisi/casper-compiler.git
