[submodule "prefix"]
	path = prefix
	url = ../casper-prefix.git
[submodule "casper-ebuilds"]
	path = ebuilds
	url = ../casper-ebuilds.git
[submodule "compiler"]
	path = compiler
	url = ../casper-compiler.git
[submodule "exp/apps/firedrake-bench"]
	path = exp/apps/firedrake-bench
	url = ../firedrake-bench.git
[submodule "exp/apps/halide-sar-app"]
	path = exp/apps/halide-sar-app
	url = git@github.com:ISI-apex/halide-sar-app.git
[submodule "exp/apps/casper/halide-sar-app"]
	path = exp/apps/casper/halide-sar-app
	url = git@github.com:ISI-apex/halide-sar-app.git
